<ui-view>
    <div class="col-xs-6 col-md-6">
        <div class="input-group" id="searchBox">
            <input ng-model="search" type="text" name="search" class="form-control" placeholder="enter text">
            <span class="input-group-btn">
                   <button class="btn btn-primary" type="button"  ng-model="search" ng-click ="searchforguest(search)" style="width: 63px"><i style="margin-left: 0px;">search</i></button>
                        </span>
        </div>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div ng-repeat=" i in details | limitTo:5 | orderBy: '-created_at' ">
        <b>Name:</b>{{i.full_name}}
        <br><b>Created at:</b> {{i.created_at}}
        <br> <b>Last commit:</b>{{i.description}}
        <br><hr>
    </div>
</ui-view>
